li {
  margin: 25px 0 7.5px;
}
.home {
  background: url("town_hall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#p0, #p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p1-8, #empty_seat, #vanish {
  display: none;
}
img {
  height: 500px;
}
#dotless {
  list-style-type: none;
}